* {
    box-sizing: border-box;
    text-align: center;
}

@font-face {
  font-family: "NatureSpiritRegular";
  src: url("./assets/NatureSpiritRegular.otf") format("opentype");
  font-feature-settings: "salt" 113;
  -webkit-font-feature-settings: "salt" 113;
  -o-font-feature-settings: "salt" 113;
  -moz-font-feature-settings: "salt" 113;
  -ms-font-feature-settings: "salt" 113;
  font-variant-alternates: stylistic()
}

html {
    background: #5a5a71;
    color: #00ffc4;
    font-family: 'Open Sans', sans-serif;
}

header h1 {
  font-family: "NatureSpiritRegular";
  font-size: 55px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px #000000;
}

section h2 {
  font-family: 'Spectral SC', serif;
  text-shadow: 1px 1px 2px #000000;
}

h3 {
  color: #fffaee;
  font-size: 16px;
}

/* .s-alternate {
  /* font-feature-settings: "\0071"; */
  /* font-variant-alternates: swash(s);
  } */


ul, li {
    margin: 0px;
    padding: 0px;
}


.hidden {
    display: none;
}

li {
    list-style: none;
    margin-left: -15px;
    /* need these to align with headings, hidden list-style is throwing off alignment */
}

p {
    text-align: left;
    color: #fffaee;
}

a {
  color: #ff9b4f;
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

a:hover {
  color: peachpuff;
}

input {
  border-radius: 5px;
}

section {
    padding: 20px;
    /* border: 1px #fffaee;
    border-style: ridge; */
}

#event-results-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-basis: 0; */
    flex-wrap: wrap;
    /* grid-gap: 20px; */
    /* display: inline; */
    /* text-align: center;
    vertical-align: center; */
    align-items: center;
    font-size: 14px;
}

#event-date {
    height: 120px;
    width: 25%;
    align-self: flex-start;
    padding-top: 15px;
    margin-bottom: -5px;
}

#event-location {
    height: 120px;
    width: 75%;
    align-self: flex-end;
    padding-left: 40px;
    margin-bottom: -5px;
}

hr {
  width: 100%;
  border: 1px ridge rgba(255, 250, 238, 0.5);
}

#event-no-results {
  color: #fffaee;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* text-align: center;
  margin-left: auto;
  margin-right: auto; */
}



/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...}  */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  header {
    /* height: 50px; */
    width: 100%;
  }
  .results-container {
    display: flex;
    flex-direction: row;
    height: 1200px;
    margin-top: 10px;
  }
  #wikiResults{
    width: 33.3%;
    height: 100%;
    /* overflow-y: scroll; */
    /* margin-right: 5px; */
  }
  #youTubeResults{
    width: 33.3%;
    height: 100%;
    /* overflow-y: scroll; */
    /* margin-right: 5px; */
  }
  #eventResults {
    width: 33.3%;
    height: 100%;
    overflow-y: scroll;
  }
  /* .wikiLink {
    margin-top: 800px;
  } */
}
/* @media screen and (min-width: 600px) {
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  
    /* .first-divide { */
      /* flex-grow: 1;
      align-self: flex-end;
      margin-top: auto; */
  
    /* nav li {
      padding-left: 20px;
      margin-top: 20px;
    }
  
    header {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
    } */

/*   
    header h1 {
      margin-top: 120px;
      max-width: 400px;
      text-align: left;
      /* margin-left: 10%; */
      /* font-size: 35px;
      width: 50%;
    } */
/*   
    .main-image {
      width: 50%;
      flex-grow: 1;
    }
  
    main {
      width: 100%;
    }
  
    .flex-container {
      margin-top: 75px;
    } */
  
    /* .second-divide {
      flex-grow: 1;
      align-self: flex-end;
    } */
  
  
  /* body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  } */ /* font size transitions - needs work */
  /* } */
  
  /* Medium devices (landscape tablets, 768px and up) */
  /* @media screen and (min-width: 768px) {
    .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 150px;
    }
  
    .bio-text {
    width: 50%;
    }
  
    .biography p {
    font-size: 18px;
    line-height: 2;
    max-height: 100%;
    max-width: 100%;
    margin-left: 10px;
    }
  
    .project-example {
    width: 50%;
    flex-grow: 3;
    }
  
    .project-image img {
    max-height: 300px;
    max-width: 353px;
    }
  } */
  
  /* Large devices (laptops/desktops, 992px and up) */
  /* @media screen and (min-width: 992px) {
    .biography p {
      font-size: 20px;
      line-height: 2;
      margin-left: 20px;
    } 
  
    header h1 {
    margin-left: 13%;
    }
  } */
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  /* @media only screen and (min-width: 1200px) {...} */