* {
    box-sizing: border-box;
    text-align: center;
}


ul, li {
    margin: 0px;
    padding: 0px;
}


.hidden {
    display: none;
}

li {
    list-style: none;
    margin-left: -15px;
    /* need these to align with headings, hidden list-style is throwing off alignment */
}

p {
    text-align: left;
}

section {
    padding: 20px;
    border: 1px solid black;
}